<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h1 class="h1">Bienvenido a la aplicación</h1>
<nav>
    <ul class="nav__ul">
        <li class="card"><a href="/alumnos/listar">Listar Alumnos</a></li>
        <li class="card"><a href="/alumnos/crear">Crear Alumno</a></li>
        <li class="card"><a href="/cursos/listar">Listar Cursos</a></li>
        <li class="card"><a href="/cursos/crear">Crear Curso</a></li>
        <li class="card"><a href="/docentes/listar">Listar Docentes</a></li>
        <li class="card"><a href="/docentes/crear">Crear Docente</a></li>
        <li class="card"><a href="/usuarios/listar">Listar Usuarios</a></li>
        <li class="card"><a href="/usuarios/crear">Crear Usuario</a></li>
    </ul>
</nav>
<footer>
    <p>Desarrollado por <a href="https://www.linkedin.com/in/ilannestorangelesrodriguez/">Ilan Néstor Angeles Rodriguez</a></p>
</footer>
</body>
</html>